{% include path_helper %}

<!--=== Footer Start ======-->
<footer class="footer" id="footer-fixed">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget widget-text">
            <div class="logo logo-footer"><a href="{{content_path}}/"> <img class="logo logo-display" src="{{images_path}}/logo-footer.png" alt=""></a> </div>
            <p>{{site.description[page.lang]}}</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-2 col-md-2">
          <div class="widget widget-links">
            <h5 class="widget-title">Site map</h5>
            <ul>
              <li><a href="{{content_path}}/">Home</a></li>
              <li><a href="{{content_path}}/portfolio.html">Portfolio</a></li>
              <li><a href="{{content_path}}/resume.html">Résumé</a></li>
              <li><a href="{{content_path}}/contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="widget widget-text widget-links">
            <h5 class="widget-title">Contact me</h5>
            <ul>
              {%- for phone in site.phone -%}
                <li> <i class="mdi mdi-cellphone"></i> <a href="tel:{{phone}}">{{phone}}</a></li>
              {% endfor %}
              <li> <i class="mdi mdi-web"></i> <a href="{{site.url}}">{{site.url}}</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copy-right text-right">© {{site.time | date: "%Y"}} {{site.title[page.lang] }}. All rights reserved</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=== Footer End ======-->