{% include path_helper %}

<!--=== Header Start ======-->
<nav class="navbar navbar-default navbar-fixed white bootsnav on no-full">
  <div class="container">


    <!--=== Start Header Navigation ===-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
      <div class="logo"> <a href="{{content_path}}/"> <img class="logo logo-display" src="{{images_path}}/logo-white.png" alt=""> <img class="logo logo-scrolled" src="{{images_path}}/logo-black.png" alt=""> </a> </div>
    </div>
    <!--=== End Header Navigation ===-->

    <!--=== Collect the nav links, forms, and other content for toggling ===-->
    <!--<div class="navbar-collapse collapse" id="navbar-menu" aria-expanded="false">-->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav " data-in="fadeOut">
        <!--{{content_path}}-->
        <li class="{%- if page.ref == 'index' -%} active{%- endif -%}"><a href="{{content_path}}/">Home</a></li>
        <li class="{%- if page.ref == 'portfolio' -%} active{%- endif -%}"><a href="{{content_path}}/portfolio.html">Portfolio</a></li>
        <li class="{%- if page.ref == 'resume' -%} active{%- endif -%}"><a href="{{content_path}}/resume.html">Résumé</a></li>
        <li class="{%- if page.ref == 'contact' -%} active{%- endif -%}"><a href="{{content_path}}/contact.html">Contact</a></li>
      </ul>
    </div>
    <!--=== /.navbar-collapse ===-->
  </div>
</nav>
<!--=== Header End ======-->
